# build.config
# Lines must be KEY=VALUE

# Required
# NOTE: Remember to escape any special characters! IE: my$username SHOULD BE my\$username
# BUILD_TARGET=Web|Windows|Mac|Linux
APP_NAME=Boto.Cell
# STEAM_ACCOUNT=th1rt3en
# Build script is relative to the .steam/sdk/tools/ContentBuilder/scripts/ folder. IE: app_build_4258160.vdf
# STEAM_BUILD_SCRIPT=

# Optional
TARGET_BRANCH=main
UNITY_PATH="C:/Program Files/Unity/Hub/Editor/6000.4.0b1/Editor/unity.exe"

# DEV_BUILD_FLAG is either TRUE, FALSE or empty
DEV_BUILD_FLAG=
